{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesIdeas.css' %}">
    <title>ProcePDF </title>
</head>
<body class="fondoPrincipal">
    <div class="contenedorPrincipal">
        <img src="{% static 'imagen/logo.png' %}" alt="Logo" class="logo">
        <h1 class= "titulo" > ProcePDF</h1>
    </div>

    <div class="contenedorDescripcion">
        <p>Las ideas principales del archivo ingresado son:</p>
    </div>
    
    <!-- Botones -->
    <div>
        <div class="row">
            <div >
                <form method="post" action="{% url 'generarResumen' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="resumen" class="buttonPrimeros">Resumen</button>
                </form>
                <script>
                    document.getElementById("resumen").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaResumen' %}";

                    });
                </script>
            </div>

            <button id="cargarArchivo" class="buttonSegundos">Cargar archivo</button>
            <script>
            document.getElementById("cargarArchivo").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
                request.session['extracted_text'] = ''
            });
            </script>          
        </div>

        <div class="row">
            <div >
                <form method="post" action="{% url 'generarCollage' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="vCollage" class="buttonPrimeros" >Collage</button>
                </form>
                <script>
                    document.getElementById("vCollage").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaCollage' %}";

                    });
                </script>
            </div>

            <form id="descargarForm" method="post" action="{% url 'descargar_ideas' %}">
                {% csrf_token %}
                <input type="hidden" name="ideas" value="{{ ideas_principales|striptags|escapejs }}">
            </form>
            <button id="descargarIdeas" class="buttonSegundos">Descargar</button>
            <script>
                document.getElementById("descargarIdeas").addEventListener("click", function() {
                    document.getElementById("descargarForm").submit();
                });
            </script>

        </div>

        <label class="tituloTextExt">Ideas principales del texto</label>
        <div class="contenedorMediano">
            <div id="ideas_result">{{ ideas_principales|safe }}</div>
        </div>

    </div>
    <!-- Contenido del pie de página -->
    <div class="pieDePagina">
        <p>Contacto: info@ejemplo.com</p>
    </div>
</body>
</html>
