{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesResumen.css' %}">
    <title>ProcePDF </title>
</head>
<body class="fondoPrincipal">
    <div class="contenedorPrincipal">
        <img src="{% static 'imagen/logo.png' %}" alt="Logo" class="logo">
        <h1 class= "titulo" > ProcePDF</h1>
    </div>

    <div class="contenedorDescripcion">
        <p>A continuación, se presenta el resumen del archivo cargado:</p>
    </div>
    
    <div>
        <label class="tituloTextExt">Resumen</label>
        <label class="contenedorMediano">
            <div id="resumen_result">{{ resumen }}</div>
        </label>

        <!-- Botones -->
        <div class="row">
            <button id="cargarArchivo" class="buttonPrimeros">Cargar archivo</button>
            <script>
            document.getElementById("cargarArchivo").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
                request.session['extracted_text'] = ''
            });
            </script>
            <div>
                <form method="post" action="{% url 'generarIdeasPrincipales' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="vIdeas" class="buttonSegundos" >Ideas Principales</button>
                </form>
                <script>
                    document.getElementById("vIdeas").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaIdeas' %}";
                    });
                </script>
            </div>
            
            <div>
                <form method="post" action="{% url 'generarCollage' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="vCollage" class="buttonSegundos3" >Collage</button>
                </form>
                <script>
                    document.getElementById("vCollage").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaCollage' %}";

                    });
                </script>
            </div>
    
            <button id="descargarResumen" class="buttonSegundos2">Descargar</button>
            <script>
                document.getElementById("descargarResumen").addEventListener("click", function() {
                    document.getElementById("descargarForm").submit();
                });
            </script>

    
        </div>
    </div>

    <!-- Contenido del pie de página -->
    <div class="pieDePagina">
        <p>Contacto: info@ejemplo.com</p>
    </div>
</body>
</html>
