{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesImagenes.css' %}">
    <title>ProcePDF </title>
</head>
<body class="fondoPrincipal">
    <div class="contenedorPrincipal">
        <img src="{% static 'imagen/logo.png' %}" alt="Logo" class="logo">
        <h1 class= "titulo" > ProcePDF</h1>
    </div>

    <div class="contenedorDescripcion">
        <p>Imágenes relacionadas con el texto del archivo subido</p>
    </div>
    
    <div>
        <div class="image-row" id="image-container"></div>

        <!-- Botones -->
        <div class="row">
            <button id="cargarArchivo" class="buttonPrimeros">Cargar archivo</button>
            <script>
            document.getElementById("cargarArchivo").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
                request.session['extracted_text'] = ''
            });
            </script>

            <button id="descargarImagenes" class="buttonSegundos">Descargar Imágenes</button>
            <script>
            document.getElementById("descargarImagenes").addEventListener("click", function() {
                window.location.href = "{% url 'descargar_imagenes' %}";
            });
            </script
    
        </div>
    </div>

    <!-- Contenido del pie de página -->
    <div class="pieDePagina">
        <p>Contacto: info@ejemplo.com</p>
    </div>
</body>
</html>
