{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesCollage.css' %}">
    <title>ProcePDF </title>
</head>
<body class="fondoPrincipal">
    <div class="contenedorPrincipal">
        <img src="{% static 'imagen/logo.png' %}" alt="Logo" class="logo">
        <h1 class= "titulo" > ProcePDF</h1>
    </div>

    <div class="contenedorDescripcion">
        <p>El collage de las palabras claves del texto que se encuentra en el archivo es:</p>
    </div>
    
    <!-- Botones -->
    <div>
        <div class="row">
            <button id="cargarArchivo" class="buttonPrimeros">Cargar archivo</button>
            <script>
            document.getElementById("cargarArchivo").addEventListener("click", function() {
                window.location.href = "{% url 'index' %}";
                request.session['extracted_text'] = ''
            });
            </script>

            <div>
                <form method="post" action="{% url 'generarIdeasPrincipales' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="vIdeas" class="buttonSegundos" >Ideas Principales</button>
                </form>
                <script>
                    document.getElementById("vIdeas").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaIdeas' %}";
                    });
                </script>
            </div>
            

            
        </div>
        <div class="row">
            <div >
                <form method="post" action="{% url 'generarResumen' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button id="resumen" class="buttonPrimerosI">Resumen</button>
                </form>
                <script>
                    document.getElementById("resumen").addEventListener("click", function() {
                        window.location.href = "{% url 'ventanaResumen' %}";

                    });
                </script>
            </div>

        
            <button id="descargaImagen" class="buttonTerceros">Descargar</button>
            <script>
            document.getElementById("descargaImagen").addEventListener("click", function() {
                window.location.href = "{% url 'download_collage' %}";
            });
            </script

        </div>

        <div class="contenedorMediano">
            <img src="data:image/png;base64,{{ collage_image }}" alt="Collage de palabras clave" class="formatoCollage">
        </div>
            
        </div>
    </div>
    <!-- Contenido del pie de página -->
    <div class="pieDePagina">
        <p>Contacto: info@ejemplo.com</p>
    </div>
</body>
</html>
